@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.termsRow > h2::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: #007f8e solid 3px;
}

.currentMenu span::first-letter {
  color: #b36fff;
  font-size: 20px;
  text-transform: uppercase;
}

.navCircle {
  width: 10px;
  height: 10px;
  background: white;
  margin-left: 20px;
}

.currentMenu .navCircle {
  height: 50px;
  background: #b36fff;
}

.noticeContent img {
  max-width: 100%;
  object-fit: contain;
}
