@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.termsRow > h2::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: #007f8e solid 3px;
}
